* {
padding: 0;
margin: 0;
}
body{
	margin:0;
	padding:0;
	background-image:url(../images/top_bg.png);
	background-repeat:repeat-x;
	font:normal 12px/1.4em "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
img,input{border:none;vertical-align:middle;}
a{text-decoration:none}
#top{
	width:100%;
	height:154px;
	background-image:url(../images/web_top.png);
	background-repeat:no-repeat;
	background-position:right;
	position:absolute;
	top:0;
}
.box{
	width:966px;
	margin:0 auto;
	border:0;
	background-color:#09C;
}
.top_cankao{
	width:100%;
	height:170px;
	float:left;
	position:relative;
}
#logo_imge{
	width:75px;
	height:66px;
	margin-top:12px;
	margin-right:75px;
	float:left;
}
#logo{
	padding-top:20px;
	width:966px;
	float:left;
}
#logo1{
	float:left;
	width:800px;
	height:30px;
	line-height:30px;
	margin-top:10px;
	font-size:13px;
	padding-left:10px;
	color:#333;
}
#logo2{
	float:left;
	width:800px;
	height:30px;
	line-height:30px;
	font-size:13px;
	padding-left:10px;
	color:#333;
}
#connect{
	width:250px;
	height:100px;
	background-image:url(../images/follow_us.png);
	background-repeat:no-repeat;
	background-position:top center;
	position:absolute;
	top:20px;
	right:20px;
}
.right_ul{
	list-style:none;
	margin-top:40px;
	margin-left:5px;
}
.right_ul li{
	float:left;
	margin-right:15px;
	display:list-item;
}
.right_ul li img{
	width:40px;
}
.right_ul li a{
	margin-left:3px;
}

#nva{
	width:966px;
	float:left;
	height:52px;
	background:url(../images/nav.png) no-repeat;
	margin-top:20px;
}
#nva ul {
	list-style:none;
	float: left;
	z-index: 9;
}
#nva ul li{
	float: left;
	position: relative;
	z-index: 9;
}
#nva ul li a {
padding:0 30px; 
display: block;
height:40px;
line-height: 40px;
text-align: center;
font-size: 15px;
color: #FFF;
}














